<!DOCTYPE html>
<html>
<head lang="ko">
    <meta charset="UTF-8">
    <title>주소&rarr;좌표 변환서비스</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='leaflet.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='service_page.css') }}">
    <style>
    </style>
    <script src="{{ url_for('static', filename='leaflet.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-1.11.3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='service_page.js') }}" charset="UTF-8"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
</head>
<body>
    <h1>GEEPS 주소&rarr;좌표 변환 서비스</h1>
    <div id="desc">
        VWorld, Daum, Naver, Google의 GeoCoding 서비스를 종합적으로 이용하여 변환성공률을 높인 주소&rarr;좌표 변환 서비스입니다.<br/>
        구주소와 도로명주소 모두 변환 가능하며, 섞여있는 경우에도 문제 없이 변환 가능합니다.<br/>
        한국에서 사용되는 많은 표준 좌표계를 지원하며, X,Y는 선택한 좌표계상의 좌표이고, 경도,위도는 WGS84 타원체상 좌표입니다.<br/>
        성공서비스는 변환에 성공한 서비스의 이름이며 여러 서비스에서 성공한 경우 바(|)로 연결됩니다.<br/>
        편차는 1개의 서비스만 성공한 경우나 모두 일치한 경우 0이며, 여러 서비스가 성공한 경우 평균 좌표와의 표준편차입니다.<br/>
        변환 결과는 표와 지도로 나타납니다.<br/>
    </div>
    <div id="address_input">
        <h3>여기에 변환할 주소를 입력해 주십시오. 여러 자료를 한번에 변환하시려면 여러 줄로 입력하시면 됩니다.</h3>
        <textarea rows="10" cols="80">서울시 광진구 모진동 93-1
서울시 동대문구 회기1동
서울시 성북구 안암동 5가 1번지
서울시 성북구 정릉동 861-1
서울시 용산구 한남동 산 8
서울시 도봉구 쌍문동 419
서울시 중구 필동 3가 26
서울시 성북구 월곡동 23-1
서울시 종로구 홍지동 7
서울시 성북구 정릉동 산16-1
서울시 관악구 신림동 산56-1
서울시 노원구 공릉2동 172
서울시 동대문구 전농동 90
서울시 노원구 공릉2동 126
서울시 종로구 명륜동 3가 53
서울시 성북구 동선동 3가 249-1
서울시 광진구 군자동 98
서울시 용산구 청파동 2가 53-12
서울시 서대문구 대현동 11-1
서울시 서대문구 북아현동 109-1
서울시 성북구 삼선동 2가 389
서울시 성동구 행당동 17
서울시 마포구 상수동 72-1
경기도 용인군 기흥읍 구갈리 산6-2
경기도 수원시 장안구 이의동 산 94-6
경기도 성남시 수정구 복정동 산65
경기도 용인군 기흥읍 서천리1
경기도 포천군 포천읍 선단리 산11-1
경기도 용인군 용인읍 남리 산38-2
경기도 화성군 봉담면 와우리 산2-2
경기도 안성군 안성읍 석정리 67
경기도 안양시 만안구 안양5동
경기도 용인군 용인읍 삼가리 산 117-6
인천광역시 남구 도화동 177
인천광역시 강화군 양도면 도장리 495
인천광역시 남구 용현동 253
경기도 안성군 대덕면 내리 산 40-1
경기도 평택시 용이동 산 84
경기도 군포시 당정동 604-5
경기도 안산시 대학동 396
경기도 화성군 봉담면 상리산8-1
강원도 강릉시 지변동 산1
강원도 춘천시 효자 2동 192-1
강원도 강릉시 내곡동 산 72-1
강원도 삼척시 교동 산253
강원도 원주시 우산동 산41
경남 마산시 함포구 월영동 449
경남 진주시 가좌동 900
경남 밀양시 내이동 1025-1
경남 양산시 웅상읍 주남리 산 150 
경남 김해시 어방동 607
경남 진주시 칠암동 150
경남 창원시 사림동 9
경북 고령군 고령읍 지산리 산 120번지 
대구시 북구 산격동 1370
경북 경산시 점촌동 산75
경북 구미시 산동면 인덕리 산5-1 
경북 양산시 하양읍 부호리 33번지
대구시 달서구 신당동 1000
경북 칠곡군 가산면 다부리 산117-6 
대구시 중구 남산3동 219
경북 경주시 석장동 707
경북 영풍군 풍기읍 산법리574
경북 상주시 가장동 386
경북 안동시 송천동 388
경북 경산시 대동 214-1
경남 울산시 남구 무거동 산29
경북 포항시 북구 흥해읍 남송리 3번지 
부산시 남구 대연동 110-1
부산시 남구 용당동 535번지 
부산시 북구 주례동 산69-1
부산시 사하구 하단2동 840
부산시 부산 진구 가야동 24 
부산시 남구 대연6동 1268번지 
부산시 금정구 장전동 산30
부산시 사상구 괘법동 산 1-1 
제주도 제주시 아라1동 1
광주광역시 서구 진월동 592-1번지
전남 나주시 대호동 252
전라남도 순천시 매곡동 315
광주광역시 북구 용봉동 300
광주광역시 서구 쌍촌동 148
광주광역시 광산구 서봉동 59-1
광주광역시 광산구 산정동 165
전남 무안군 청계면 도림리 산 61번지
전남 여수시 국동 195
광주광역시 동구 서석동 375
전남 영암군 삼호면 산호리 72번지
전남 무안군 무안읍 성남리 419
전북 군산시 미룡동 산 68번지
전북 남원기 광치동 720번지
전주시 완산구 효자동 3가 1200
전북 덕진구 덕진동 664-14
전북 완주군 삼례읍 후정리 490번지
전북 완주군 상관면 신리 694-1
전라북도 전주시 완산구 동서학동 128
전라북도 익산시 신룡동 344-2
전라북도 군산시 임피면 월하리 727
충청남도 논산시 내동 산 30번지
대전광역시 중구 목동 24번지
충남(도) 아산(시) 신창면 읍내리 산53-1
충남 천안시 안서동 산 85-1
대전광역시 대덕구 오정동 133
충청남도 아산시 배방면 세출리 29-1
충청남도 천안시 안서동 120-1
대전 광역시 동구 용운동 96-3번지
대전광역시 서구 도마동 439-6
대전광역시 동구 자양동 산 7-6
유성구 궁동 220
서산시 해미면 대곡리 360
충남 공주시 신관동 182
충남 예산군 예산읍 예산리527
천안군 성환읍 매주리 21번지
동구 삼성 2동 305-3번지
충청남도 금산군 추부면 마전리 산 2-25
충남 홍성군 홍성읍 남장리 산 29
청주시 상당구 내덕동 36
청주시 흥덕구 모충동 231
충북 음성군 감곡면 왕장리 산 5
충청북도 제천시 신월동 산 21-1
충북 충주시 이류면 검단리 123번지
충북 청주시 흥덕구 개신동 산 48
충북 청원군 강내면 다락리 산 7번지</textarea>
    </div>
    <div id="ui">
        <select id="crs">
            <option value="epsg_4326">EPSG:4326</option>
        </select>
        <button id="run" class="btn"> 변환 실행 </button>
        <button id="btnExport" class="btn"> 엑셀 저장 </button>
    </div>
    <div id="dialog" title="GeoCoding" style="display: None;">
        <div id="progressbar"></div>
        주소 변환 실행중...(<spen id="percent">0</spen>%)
    </div>
    <div id="result_table_div">
        <table id="result_table">
            <thead>
                <tr><th>(정제후)요청주소</th><th>변환주소</th><th>X</th><th>Y</th><th>경도</th><th>위도</th><th>성공서비스</th><th>편차</th><th>주소유사도</th></tr>
            </thead>
            <tbody>
                <tr><td colspan="9">변환 결과가 이 곳에 표시됩니다.</td></tr>
            </tbody>
        </table>
    </div>
    <div id="map"></div>
<iframe id="txtArea1" style="display:none"></iframe>
</body>
</html>